form.task-form {
    margin-top: 24px;
}

form.task-form label:not(:first-of-type) {
    margin-top: 16px;
}

.task-form div.buttons {
    display: flex;
    justify-content: flex-end;
    gap: 16px;
    margin-top: 24px;
}

